<!-- templates/_base.html-->
 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} Bookstore {% endblock title%}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4mb-3 bg-secondary border-bottom shadow-sm">
            <a href="{% url 'home' %}" class="navbar-brand my-0 mr-md-autofont-weight-normal text-light">Bookstore</a>
            <nav class="my-2 my-md-0 mr-md-3 ms-auto">
                <a class="p-2 text-dark text-decoration-none" href="{% url "about" %}">About</a>
                {% if user.is_authenticated %}
                    <a class="p-2 text-dark text-decoration-none" href="{% url 'account_logout' %}">Log Out</a>
                    <a class="p-2 text-dark text-decoration-none" href="{% url 'account_reset_password' %}">Reset Password</a>
                {% else %}
                    <a class="p-2 text-dark text-decoration-none" href="{% url 'account_login' %}">Log In</a>
                    <a class="btn btn-outline-primary text-decoration-none" href="{% url 'account_signup' %}">Sign Up</a>
                {% endif %}
            </nav>
        </div>
    </header>
    
    <div class="container">
        {% block content %}
        
        {% endblock content %}

    </div>
</body>
</html>