<!-- templates/home.html-->
 {% extends "_base.html" %}
 {% load static %}
 {% block title %}HOME{% endblock title %}
 {% block content %}
    <h1>Homepage</h1>
    <img class="bookcover" src="{% static 'images/20250615_082131.jpg' %}"></img>
    {% if user.is_authenticated %}
        hola {{user.email}}!
        <p>
             <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>
        </p>
    {% else %}
        <p>no estas logeado</p>
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
 {% endblock content %}